ul
{
  list-style-type: none;
  padding: 0;
}

li.turtle
{
  color: white;
  width: 250px;
  padding: 10px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
}

li.turtle.leader
{
  border-width: 5px;
  width: 244px;
  padding: 6px;
}

.weapon
{
  font-style: italic;
}
